IssueTrackingSystem/Service References/ServiceReference1/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WebService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BTS.Models" />
      <xsd:import schemaLocation="http://localhost:8080/?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_GetProjectBugs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProjectBugs" />
  </wsdl:message>
  <wsdl:message name="IService_GetProjectBugs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProjectBugsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AddSolutionOfBug_InputMessage">
    <wsdl:part name="parameters" element="tns:AddSolutionOfBug" />
  </wsdl:message>
  <wsdl:message name="IService_AddSolutionOfBug_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddSolutionOfBugResponse" />
  </wsdl:message>
  <wsdl:message name="IService_SetDevIdForBug_InputMessage">
    <wsdl:part name="parameters" element="tns:SetDevIdForBug" />
  </wsdl:message>
  <wsdl:message name="IService_SetDevIdForBug_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetDevIdForBugResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ReportBug_InputMessage">
    <wsdl:part name="parameters" element="tns:ReportBug" />
  </wsdl:message>
  <wsdl:message name="IService_ReportBug_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReportBugResponse" />
  </wsdl:message>
  <wsdl:message name="IService_RestartBug_InputMessage">
    <wsdl:part name="parameters" element="tns:RestartBug" />
  </wsdl:message>
  <wsdl:message name="IService_RestartBug_OutputMessage">
    <wsdl:part name="parameters" element="tns:RestartBugResponse" />
  </wsdl:message>
  <wsdl:message name="IService_SetBugStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:SetBugStatus" />
  </wsdl:message>
  <wsdl:message name="IService_SetBugStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetBugStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AddProject_InputMessage">
    <wsdl:part name="parameters" element="tns:AddProject" />
  </wsdl:message>
  <wsdl:message name="IService_AddProject_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddProjectResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetProjectsByName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProjectsByName" />
  </wsdl:message>
  <wsdl:message name="IService_GetProjectsByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProjectsByNameResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetProjectsByCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProjectsByCategories" />
  </wsdl:message>
  <wsdl:message name="IService_GetProjectsByCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProjectsByCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ApproveDeveloperForProject_InputMessage">
    <wsdl:part name="parameters" element="tns:ApproveDeveloperForProject" />
  </wsdl:message>
  <wsdl:message name="IService_ApproveDeveloperForProject_OutputMessage">
    <wsdl:part name="parameters" element="tns:ApproveDeveloperForProjectResponse" />
  </wsdl:message>
  <wsdl:message name="IService_RemoveDevsFromProject_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveDevsFromProject" />
  </wsdl:message>
  <wsdl:message name="IService_RemoveDevsFromProject_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveDevsFromProjectResponse" />
  </wsdl:message>
  <wsdl:message name="IService_InviteDeveloperToProject_InputMessage">
    <wsdl:part name="parameters" element="tns:InviteDeveloperToProject" />
  </wsdl:message>
  <wsdl:message name="IService_InviteDeveloperToProject_OutputMessage">
    <wsdl:part name="parameters" element="tns:InviteDeveloperToProjectResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetDevelopersOfProject_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDevelopersOfProject" />
  </wsdl:message>
  <wsdl:message name="IService_GetDevelopersOfProject_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDevelopersOfProjectResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ConfirmUser_InputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmUser" />
  </wsdl:message>
  <wsdl:message name="IService_ConfirmUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AddAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:AddAccount" />
  </wsdl:message>
  <wsdl:message name="IService_AddAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IService_getNickname_InputMessage">
    <wsdl:part name="parameters" element="tns:getNickname" />
  </wsdl:message>
  <wsdl:message name="IService_getNickname_OutputMessage">
    <wsdl:part name="parameters" element="tns:getNicknameResponse" />
  </wsdl:message>
  <wsdl:message name="IService_getUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:getUsers" />
  </wsdl:message>
  <wsdl:message name="IService_getUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:getUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IService_isEmailSent_InputMessage">
    <wsdl:part name="parameters" element="tns:isEmailSent" />
  </wsdl:message>
  <wsdl:message name="IService_isEmailSent_OutputMessage">
    <wsdl:part name="parameters" element="tns:isEmailSentResponse" />
  </wsdl:message>
  <wsdl:message name="IService_searchForUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:searchForUsers" />
  </wsdl:message>
  <wsdl:message name="IService_searchForUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:searchForUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IService_InformAboutNotification_InputMessage">
    <wsdl:part name="parameters" element="tns:InformAboutNotification" />
  </wsdl:message>
  <wsdl:message name="IService_InformAboutNotification_OutputMessage">
    <wsdl:part name="parameters" element="tns:InformAboutNotificationResponse" />
  </wsdl:message>
  <wsdl:message name="IService_WriteLetterToUser_InputMessage">
    <wsdl:part name="parameters" element="tns:WriteLetterToUser" />
  </wsdl:message>
  <wsdl:message name="IService_WriteLetterToUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:WriteLetterToUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetNotificationsOfUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNotificationsOfUser" />
  </wsdl:message>
  <wsdl:message name="IService_GetNotificationsOfUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNotificationsOfUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService_EditUserEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:EditUserEmail" />
  </wsdl:message>
  <wsdl:message name="IService_EditUserEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditUserEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IService_EditUserBirthDate_InputMessage">
    <wsdl:part name="parameters" element="tns:EditUserBirthDate" />
  </wsdl:message>
  <wsdl:message name="IService_EditUserBirthDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditUserBirthDateResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ChangeUserPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeUserPassword" />
  </wsdl:message>
  <wsdl:message name="IService_ChangeUserPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeUserPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IService_getAuthenticatedUser_InputMessage">
    <wsdl:part name="parameters" element="tns:getAuthenticatedUser" />
  </wsdl:message>
  <wsdl:message name="IService_getAuthenticatedUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAuthenticatedUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService_EditUserAvatar_InputMessage">
    <wsdl:part name="parameters" element="tns:EditUserAvatar" />
  </wsdl:message>
  <wsdl:message name="IService_EditUserAvatar_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditUserAvatarResponse" />
  </wsdl:message>
  <wsdl:message name="IService_IsPasswordResetLinkValid_InputMessage">
    <wsdl:part name="parameters" element="tns:IsPasswordResetLinkValid" />
  </wsdl:message>
  <wsdl:message name="IService_IsPasswordResetLinkValid_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsPasswordResetLinkValidResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetBugAttachmentNames_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBugAttachmentNames" />
  </wsdl:message>
  <wsdl:message name="IService_GetBugAttachmentNames_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBugAttachmentNamesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_RemoveNotification_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveNotification" />
  </wsdl:message>
  <wsdl:message name="IService_RemoveNotification_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveNotificationResponse" />
  </wsdl:message>
  <wsdl:message name="IService_deleteExpiredRecords_InputMessage">
    <wsdl:part name="parameters" element="tns:deleteExpiredRecords" />
  </wsdl:message>
  <wsdl:message name="IService_deleteExpiredRecords_OutputMessage">
    <wsdl:part name="parameters" element="tns:deleteExpiredRecordsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetBugAttachment_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBugAttachment" />
  </wsdl:message>
  <wsdl:message name="IService_GetBugAttachment_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBugAttachmentResponse" />
  </wsdl:message>
  <wsdl:message name="IService_WriteMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:WriteMessage" />
  </wsdl:message>
  <wsdl:message name="IService_WriteMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:WriteMessageResponse" />
  </wsdl:message>
  <wsdl:message name="IService_MarkRightIssueAnswer_InputMessage">
    <wsdl:part name="parameters" element="tns:MarkRightIssueAnswer" />
  </wsdl:message>
  <wsdl:message name="IService_MarkRightIssueAnswer_OutputMessage">
    <wsdl:part name="parameters" element="tns:MarkRightIssueAnswerResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AddMessageToWorkflow_InputMessage">
    <wsdl:part name="parameters" element="tns:AddMessageToWorkflow" />
  </wsdl:message>
  <wsdl:message name="IService_AddMessageToWorkflow_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddMessageToWorkflowResponse" />
  </wsdl:message>
  <wsdl:message name="IService_getCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:getCategories" />
  </wsdl:message>
  <wsdl:message name="IService_getCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetMessageLog_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMessageLog" />
  </wsdl:message>
  <wsdl:message name="IService_GetMessageLog_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMessageLogResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="GetProjectBugs">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetProjectBugs" message="tns:IService_GetProjectBugs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetProjectBugsResponse" message="tns:IService_GetProjectBugs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddSolutionOfBug">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AddSolutionOfBug" message="tns:IService_AddSolutionOfBug_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AddSolutionOfBugResponse" message="tns:IService_AddSolutionOfBug_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetDevIdForBug">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/SetDevIdForBug" message="tns:IService_SetDevIdForBug_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/SetDevIdForBugResponse" message="tns:IService_SetDevIdForBug_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReportBug">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ReportBug" message="tns:IService_ReportBug_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ReportBugResponse" message="tns:IService_ReportBug_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RestartBug">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/RestartBug" message="tns:IService_RestartBug_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/RestartBugResponse" message="tns:IService_RestartBug_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetBugStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/SetBugStatus" message="tns:IService_SetBugStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/SetBugStatusResponse" message="tns:IService_SetBugStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddProject">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AddProject" message="tns:IService_AddProject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AddProjectResponse" message="tns:IService_AddProject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProjectsByName">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetProjectsByName" message="tns:IService_GetProjectsByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetProjectsByNameResponse" message="tns:IService_GetProjectsByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProjectsByCategories">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetProjectsByCategories" message="tns:IService_GetProjectsByCategories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetProjectsByCategoriesResponse" message="tns:IService_GetProjectsByCategories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ApproveDeveloperForProject">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ApproveDeveloperForProject" message="tns:IService_ApproveDeveloperForProject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ApproveDeveloperForProjectResponse" message="tns:IService_ApproveDeveloperForProject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveDevsFromProject">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/RemoveDevsFromProject" message="tns:IService_RemoveDevsFromProject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/RemoveDevsFromProjectResponse" message="tns:IService_RemoveDevsFromProject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InviteDeveloperToProject">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/InviteDeveloperToProject" message="tns:IService_InviteDeveloperToProject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/InviteDeveloperToProjectResponse" message="tns:IService_InviteDeveloperToProject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDevelopersOfProject">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetDevelopersOfProject" message="tns:IService_GetDevelopersOfProject_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetDevelopersOfProjectResponse" message="tns:IService_GetDevelopersOfProject_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConfirmUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ConfirmUser" message="tns:IService_ConfirmUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ConfirmUserResponse" message="tns:IService_ConfirmUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AddAccount" message="tns:IService_AddAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AddAccountResponse" message="tns:IService_AddAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getNickname">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getNickname" message="tns:IService_getNickname_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/getNicknameResponse" message="tns:IService_getNickname_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getUsers" message="tns:IService_getUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/getUsersResponse" message="tns:IService_getUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="isEmailSent">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/isEmailSent" message="tns:IService_isEmailSent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/isEmailSentResponse" message="tns:IService_isEmailSent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="searchForUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/searchForUsers" message="tns:IService_searchForUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/searchForUsersResponse" message="tns:IService_searchForUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InformAboutNotification">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/InformAboutNotification" message="tns:IService_InformAboutNotification_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/InformAboutNotificationResponse" message="tns:IService_InformAboutNotification_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WriteLetterToUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/WriteLetterToUser" message="tns:IService_WriteLetterToUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/WriteLetterToUserResponse" message="tns:IService_WriteLetterToUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNotificationsOfUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetNotificationsOfUser" message="tns:IService_GetNotificationsOfUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetNotificationsOfUserResponse" message="tns:IService_GetNotificationsOfUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditUserEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/EditUserEmail" message="tns:IService_EditUserEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/EditUserEmailResponse" message="tns:IService_EditUserEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditUserBirthDate">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/EditUserBirthDate" message="tns:IService_EditUserBirthDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/EditUserBirthDateResponse" message="tns:IService_EditUserBirthDate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeUserPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ChangeUserPassword" message="tns:IService_ChangeUserPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ChangeUserPasswordResponse" message="tns:IService_ChangeUserPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAuthenticatedUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getAuthenticatedUser" message="tns:IService_getAuthenticatedUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/getAuthenticatedUserResponse" message="tns:IService_getAuthenticatedUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditUserAvatar">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/EditUserAvatar" message="tns:IService_EditUserAvatar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/EditUserAvatarResponse" message="tns:IService_EditUserAvatar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsPasswordResetLinkValid">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/IsPasswordResetLinkValid" message="tns:IService_IsPasswordResetLinkValid_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/IsPasswordResetLinkValidResponse" message="tns:IService_IsPasswordResetLinkValid_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBugAttachmentNames">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetBugAttachmentNames" message="tns:IService_GetBugAttachmentNames_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetBugAttachmentNamesResponse" message="tns:IService_GetBugAttachmentNames_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveNotification">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/RemoveNotification" message="tns:IService_RemoveNotification_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/RemoveNotificationResponse" message="tns:IService_RemoveNotification_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="deleteExpiredRecords">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/deleteExpiredRecords" message="tns:IService_deleteExpiredRecords_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/deleteExpiredRecordsResponse" message="tns:IService_deleteExpiredRecords_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBugAttachment">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetBugAttachment" message="tns:IService_GetBugAttachment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetBugAttachmentResponse" message="tns:IService_GetBugAttachment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WriteMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/WriteMessage" message="tns:IService_WriteMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/WriteMessageResponse" message="tns:IService_WriteMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MarkRightIssueAnswer">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/MarkRightIssueAnswer" message="tns:IService_MarkRightIssueAnswer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/MarkRightIssueAnswerResponse" message="tns:IService_MarkRightIssueAnswer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddMessageToWorkflow">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AddMessageToWorkflow" message="tns:IService_AddMessageToWorkflow_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AddMessageToWorkflowResponse" message="tns:IService_AddMessageToWorkflow_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getCategories">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getCategories" message="tns:IService_getCategories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/getCategoriesResponse" message="tns:IService_getCategories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMessageLog">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetMessageLog" message="tns:IService_GetMessageLog_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetMessageLogResponse" message="tns:IService_GetMessageLog_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetProjectBugs">
      <soap:operation soapAction="http://tempuri.org/IService/GetProjectBugs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSolutionOfBug">
      <soap:operation soapAction="http://tempuri.org/IService/AddSolutionOfBug" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetDevIdForBug">
      <soap:operation soapAction="http://tempuri.org/IService/SetDevIdForBug" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReportBug">
      <soap:operation soapAction="http://tempuri.org/IService/ReportBug" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RestartBug">
      <soap:operation soapAction="http://tempuri.org/IService/RestartBug" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetBugStatus">
      <soap:operation soapAction="http://tempuri.org/IService/SetBugStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddProject">
      <soap:operation soapAction="http://tempuri.org/IService/AddProject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProjectsByName">
      <soap:operation soapAction="http://tempuri.org/IService/GetProjectsByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProjectsByCategories">
      <soap:operation soapAction="http://tempuri.org/IService/GetProjectsByCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ApproveDeveloperForProject">
      <soap:operation soapAction="http://tempuri.org/IService/ApproveDeveloperForProject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveDevsFromProject">
      <soap:operation soapAction="http://tempuri.org/IService/RemoveDevsFromProject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InviteDeveloperToProject">
      <soap:operation soapAction="http://tempuri.org/IService/InviteDeveloperToProject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDevelopersOfProject">
      <soap:operation soapAction="http://tempuri.org/IService/GetDevelopersOfProject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmUser">
      <soap:operation soapAction="http://tempuri.org/IService/ConfirmUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAccount">
      <soap:operation soapAction="http://tempuri.org/IService/AddAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNickname">
      <soap:operation soapAction="http://tempuri.org/IService/getNickname" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUsers">
      <soap:operation soapAction="http://tempuri.org/IService/getUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isEmailSent">
      <soap:operation soapAction="http://tempuri.org/IService/isEmailSent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchForUsers">
      <soap:operation soapAction="http://tempuri.org/IService/searchForUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InformAboutNotification">
      <soap:operation soapAction="http://tempuri.org/IService/InformAboutNotification" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WriteLetterToUser">
      <soap:operation soapAction="http://tempuri.org/IService/WriteLetterToUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNotificationsOfUser">
      <soap:operation soapAction="http://tempuri.org/IService/GetNotificationsOfUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditUserEmail">
      <soap:operation soapAction="http://tempuri.org/IService/EditUserEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditUserBirthDate">
      <soap:operation soapAction="http://tempuri.org/IService/EditUserBirthDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeUserPassword">
      <soap:operation soapAction="http://tempuri.org/IService/ChangeUserPassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAuthenticatedUser">
      <soap:operation soapAction="http://tempuri.org/IService/getAuthenticatedUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditUserAvatar">
      <soap:operation soapAction="http://tempuri.org/IService/EditUserAvatar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsPasswordResetLinkValid">
      <soap:operation soapAction="http://tempuri.org/IService/IsPasswordResetLinkValid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBugAttachmentNames">
      <soap:operation soapAction="http://tempuri.org/IService/GetBugAttachmentNames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveNotification">
      <soap:operation soapAction="http://tempuri.org/IService/RemoveNotification" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteExpiredRecords">
      <soap:operation soapAction="http://tempuri.org/IService/deleteExpiredRecords" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBugAttachment">
      <soap:operation soapAction="http://tempuri.org/IService/GetBugAttachment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WriteMessage">
      <soap:operation soapAction="http://tempuri.org/IService/WriteMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MarkRightIssueAnswer">
      <soap:operation soapAction="http://tempuri.org/IService/MarkRightIssueAnswer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddMessageToWorkflow">
      <soap:operation soapAction="http://tempuri.org/IService/AddMessageToWorkflow" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCategories">
      <soap:operation soapAction="http://tempuri.org/IService/getCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMessageLog">
      <soap:operation soapAction="http://tempuri.org/IService/GetMessageLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:8080/HelloService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>